#settingsIcon {
    float: right;
    cursor: pointer;
}

/*
https: //css-tricks.com/html5-progress-element/
*/

progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
    appearance: none;
    width: 200px;
    height: 20px;
}

progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
    background-image:
        -webkit-linear-gradient(left, rgb(204, 0, 0) 0%, rgb(45, 0, 128) 60px, rgb(0, 128, 17) 200px);

    border-radius: 5px;
}

h3 {
    color: #999999;
    font-family: arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 1px;
}

p,
span {
    font-family: arial,
        sans-serif;
    font-size: 14px;
    text-align: center;
}

a {
    color: darkcyan;
    text-decoration: none;
}

a:hover {
    color: cyan;
}